* {
    margin: 0%;
    padding: 0%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body,
html {
    width: 100%;
    height: 100vh;
    min-width: 360px;
}

a {
    text-decoration: none !important;
    color: inherit;
}

li {
    list-style: none;
}

.form-control::placeholder {
    font-size: small;
}

:root {
    --main-bg: #001dc4;
    --main-bg-light: #479dff;
}

.fs-small {
    font-size: small;
}

/* .P {
    margin-bottom: 0 !important;
} */

.bg-gray-light {
    background-color: #F3F3F3;
}

.main-bg {
    background: linear-gradient(90deg, var(--main-bg), var(--main-bg-light)) !important;
}

.bg-blue {
    background-color: #001a69;
}

.text-main {
    color: var(--main-bg) !important;
}

.nav-link {
    color: #fff !important;
}

.text-main {
    color: var(--main-bg);
}

.border-orange {
    border: 1px solid var(--main-bg);
}

.bg-light-blue {
    background: #EBF7FE;
}

.border-blue {
    border: 1px solid #1a3cd3 !important;
}

button:hover {
    filter: saturate(0.7)
}

footer a {
    color: inherit !important;
}

footer .border-bottom {
    border-bottom: 1px solid #ffffff70 !important;
}

.form-check-input,
.form-select,
.form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none !important;
    box-shadow: none;
}

.accordion-button:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar {
    background: linear-gradient(90deg, var(--main-bg), var(--main-bg-light)) !important;
}

.bg-hov-main:hover {
    background-color: transparent !important;
    color: #ffffff !important;
}

.mask {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: #000000a0;
    z-index: 1;
    display: none;
}

/* Home banner */
.home-banner-image {
    background-image: url('/accets/Images/Banner 1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.plans-banner-image {
    background-image: url('/accets/Images/Gradient.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.ipad-banner {
    background-image: url('/accets/Images/ipad-banner.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.Enterprise-bg {
    background-image: url('/accets/Images/Enterprise.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top;
}

.profile-bg {
    background-image: url('/accets/Images/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}

.customers-rev:hover {
    transform: scale(1.1);
}

.customers-rev {
    transition: 0.6s;
}

.dropdown-item:hover {
    background: #001485 !important;
    color: #fff !important;
}

.dropdown-item {
    transition: 0.8s;
}

.pointer {
    cursor: pointer;
}

.slick-prev:before,
.slick-next:before {
    color: #001485 !important;
}

footer .accordion-button::after {
    background-image: url('https://www.freeiconspng.com/uploads/white-down-arrow-png-2.png');
}

footer .accordion-button:not(.collapsed)::after {
    background-image: url('https://www.freeiconspng.com/uploads/white-down-arrow-png-2.png');
}

.navbar-collapse {
    transition: 0.8s !important;
}

.mob-search {
    position: fixed;
    width: 100%;
    display: flex;
    top: -100%;
    transition: 0.8s;
    align-items: center;
    background: #fff;
    padding: 40px 10px;
    z-index: 1;
}

.cards-details {
    display: none;
}

.fs-sm-large {
    font-size: xx-large !important;
}

.fs-sm{
font-size: medium;
}

@media screen and (max-width:990px) {
    .navbar-collapse {
        position: fixed;
        top: 0;
        /* background-image: url('/accets/Images/Mobile-Banner-eSim.png') !important; */
        background: linear-gradient(81deg, #fff, #f5fbff, #f5fbff);

        background-repeat: no-repeat;
        background-size: cover;
        width: 250px;
        height: 100vh;
        right: 0;
        padding: 23px;
        z-index: 1;
        /* transition: all 2s; */
    }

    .navbar .collapse:not(.show) {
        /* display: block !important; */
        right: -100%;
    }

    .navbar {
        background: #fff !important;
    }

    .fs-sm-large {
        font-size: larger !important;
    }

    .home-banner-image {
        background-image: url('/accets/Images/Home Tablet Banner.jpg') !important;
    }

    .nav-link {
        color: #000 !important;
    }
}

@media screen and (max-width:500px) {
    .home-banner-image {
        background-image: url('/accets/Images/Mobile-Banner-eSim.png') !important;
    }

    .navbar-collapse {
        position: fixed;
        top: 0;
        /* background-image: url('/accets/Images/Mobile-Banner-eSim.png') !important; */
        background: linear-gradient(81deg, #fff, #f5fbff, #f5fbff);
        width: 250px;
        height: 100vh;
        right: 0;
        padding: 23px;
        z-index: 1;
    }

    .resp-font {
        font-size: 10px;
    }

    .fs-sm {
        font-size: small !important;
    }

    .fs-sm-large {
        font-size: x-large !important;
    }

    .navbar {
        background: #fff !important;
    }

    .nav-link {
        color: #000 !important;
    }
}

/* Home banner end */